.login-left-pane {
    -fx-background-image: url("../imgs/gradient800x600.png");
    -fx-background-size: cover;
}

.login-button {
    -fx-background-color: #6333c1;
}

.gray-pane {
    -fx-background-color: #dcdede;
}


.pcpal-bg {
    -fx-background-image: url("../imgs/msplogo2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: white;
    -fx-opacity: 0.6;
    -fx-background-size: 300px;
}

.text-input, .text-input:focused { -fx-prompt-text-fill:darkgray; }

.btn-agregar {
    -fx-border-radius: 4px;
    -fx-background-color: #4CAF50;
}

.btn-editar {
    -fx-border-radius: 4px;
    -fx-background-color: #008CBA;
}

.btn-borrar {
    -fx-border-radius: 4px;
    -fx-background-color: #f44336;
}

.btn-limpiar {
    -fx-border-radius: 4px;
    -fx-background-color: #555555;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.table-bg {
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.shadow-abajo {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 0.0, 25.0, 0.0,  5.0);
}

.shadow-abajo-2 {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 0.0, 25.0, 0.0,  3.0);
}

.boton-regresar {
    -fx-border-radius: 5px;
}


.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #dcdede;
    -fx-border-radius: 8px;
    -fx-padding: 0px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to top right, rgb(207, 150, 207), rgb(107, 116, 179));
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;
}

.table-view .column-header, .filler {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-size: 40px;
}

.table-row-cell {
    -fx-border-color: red;
    -fx-table-cell-border-color:red;
}